 .info-container {
     margin: auto;
     width: 100%;
     margin-top: 10vh;
 }

 .education {
    display: flex;  
   }

.info-heading{
 
 width: 53vw;
 text-align: center;
 font-size: 2.3vmax;
}

.clg-img
{
    margin-top:3vh ;
    width: 45vw;
    height: 80vh;
}
 
.edu-info {
    background-color: #CDE7FF;
    width: 45vw;
    height: 15vh;
    margin-left: 5vw;
    margin-bottom: 2vh;
    padding-left:0.5vw;
    line-height: 1vh;
    transition:  width 0.5s, height 0.5s,margin-left 0.5s ;
}
.edu-info:hover{
    width: 47vw;
    height: 17vh;
    margin-left: 3vw;
    margin-right: 2vw;
    

}

.edu-dt{
    margin-left: 0.5vw;
}
.year{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    padding-right: 1vw;
    line-height: 2vh;
    
}

 

 .info {
     position: relative;
     text-align: center;
     padding-top: 10px;
     margin-top: 15px;
     width: 100%;
     height: 5vh;
     background-color: aliceblue;
     justify-content: center;
     border-radius: 10px;
     margin-left: 50%;

 }


 .cards {
     position: relative;
     margin: auto;
     display: flex;
     flex-direction: row;
     gap: 50px;
     justify-content: space-evenly;
 }






 @media screen and (max-width:600px) {
    
     .education {
         flex-direction: column;
         justify-content: center;
         align-items: center;
        
     }
     .clg-img
{
    margin-top:2vh ;
    width: 80vw;
    height: 40vh;
}
.info-heading{
    margin-left: 8vw;
}
     .edu-info{
      
        width: 70vw;
        height: 20vh;
        padding: 5px;
        margin-left: 0vw;
        margin-bottom: 2vh;
   
    }
    .edu-info:hover{
        width: 72vw;
        height: 22vh;
        margin-left: -2vw;
        margin-right: 2vw;
        
    
    }
   
    .edu-dt{
        line-height: 5vmin;
    }
 }

 