
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins&display=swap');

.main 
{
    width: 25vw;
    height: 68vh;
    background-color: #F0F0F0;
    box-shadow: -0.1vmax 0.1vmax 5px 0.3vw grey;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
}


.imageDiv
{
    width: 350px;
    background-color: black;
    height: 180px;
    
    margin-top: 20px;
} 

.heading 
{
   
    font-size: x-large;
    text-align: center;
    
    margin: 10px 0px;
}

.headingDiv
{
    text-align: left;
    width: 90%;
 

}
.btn
{
    position: relative;
    margin: auto;
    width: 20vw;
    display: flex;
    gap: 6vw;
    flex-direction: row;
    

    
}
.btns

{
    background-color:transparent;
    border-radius: 5px;
    border: 0.2vmax solid;
    width: 100%;
    font-size: large;
    padding: 0.5vmax;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.para
{
    margin: auto;
    text-align: center;
}



@media screen and (max-width: 600px)
{
    .main 
    {
        width: 90%;
        margin-left: 20px;
    }

    .imageDiv
    {
        width: 90%;

    }


.btn{
    flex-direction: column ;
    gap: 2vh;
    font-size: 1.5vmax;
    width: 50%;
    justify-content: center;
    align-content: center;
   
}
   .btns

{    
    border: 0.3vmax solid;
   
    position: relative;
    text-align: center;
      cursor: pointer;
}
}




