.header
{
    position: relative;
    right: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.main-heading
{
 color:#950740 ;
 font-family:'Pacifico', cursive;
 font-size: x-large;
 text-align:left;
  margin: auto;
 margin-left: 20px;

}


.navmenu
{
    display: flex;
    flex-direction: row;
   margin: auto;
    color: white;
    font-family: 'Concert One', sans-serif;;
    margin-right: 10px;
    
}


.links{
   padding: 20px;
   text-decoration: none;
  color: white;
    
}
.links:hover
{
    text-decoration: underline;
    
}

.navmenu h2{
    color: aliceblue;
    text-decoration: nones;
}

.underline1
{
    
    position: relative;
    width: 99%;
    background-color:  #950740;
    height: 2px;
    left: 0.5%;
     margin-bottom: 5%;
}
@media only screen and (max-width:1440px) {
    
    .underline1
    {
        
        position: relative;
        width: 105%;
        background-color:  #950740;
        height: 2px;
        left: 0.5%;
         margin-bottom: 5%;
    }

    .header
{
    position: relative;
    right: 0%;
    display: flex;
    flex-direction: row;
    width: 105%;
    
}
}

@media only screen and (max-width:450px) {
    
    .underline1
    {
        
        position: relative;
        width: 160%;
        background-color:  #950740;
        height: 2px;
        left: 0.5%;
         margin-bottom: 5%;
    }
}
@media only screen and (max-width:380px) {
    
    .underline1
    {
        
        position: relative;
        width: 178%;
        background-color:  #950740;
        height: 2px;
        left: 0.5%;
         margin-bottom: 5%;
    }
}
@media only screen and (max-width:320px) {
    
    .underline1
    {
        
        position: relative;
        width: 210%;
        background-color:  #950740;
        height: 2px;
        left: 0.5%;
         margin-bottom: 5%;
    }
}