
.header{
    width: 100%;
    /* background-color:pink; */
    max-height:10vh ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
    
}
.main-heading{
    font-family: 'Pacifico', cursive;
    color: brown;
    margin-left: 2vw;
    font-size: 1.5vmax;
}
.navmenu
{
    display: flex;
    gap: 2vw;
    margin-right: 2vw;
}
.links
{
    color: wheat;
}
.hamburger
{
    display: none;
}
.underline1
{
    background-color: brown;
    width: 96vw;
    height: 0.3vh;
    margin: 1vw auto;
}

@media (max-width:600px) {
    .hamburger{
        display: flex;
        margin-right: 5vw;
    }
    .navmenu{
        display: none;
    }
}