  .hero
{
    width:100%;
    /* background-color: pink; */
    
}
 .content
{
    
    justify-content: center;
    display: flex;
    gap: 30vmax 

}   
.selfImage{
    max-width: 50vw;
    max-height: 40vh;
    border-radius: 10px;
    margin: 1vh;

}
.block
{
    display: flex;
    background-color: brown;
   justify-content: center;
   align-items: center;
    height: 7vh;
    border-radius: 2vw;
}
.aboutme
{
    font-size: 2vmax;
    color: beige;
}

.hero-con
{
    color: whitesmoke;
}

.discription{
   
    width: 50vw;
    font-size: 1.5vmax;
    margin-left: 12.5vw;
    
}
.aboutme2 span{
    color: aqua;
    font-style: italic;
    
}
@media (max-width:600px) {
    .selfImage
    {  max-width: 30vw;
        max-height: 40vh;

    }
    .content{
        gap: 5vmax ;
  
    }
    .block
{
    display: flex;
    background-color: brown;
   justify-content: center;
   font-size: medium;
    width: 45vw;
    height: 4vh;
    border-radius: 4vw;
    margin-bottom: 10px;
}
.aboutme
{
    font-size: 2vmax;
}

.discription{
    width: 80%;
    font-size: 2.5vh;
    margin-left: 6vw;
    line-height: 2.5vh;
}
}