.work-container
{
    width: 100%;
     overflow-x: hidden;
     background-color:aliceblue;
     margin-top: 10vh;
     padding-bottom: 5vh;
    
}
.project-heading
{
     
    margin-left: 4.5VW;
    margin-top: 2vw;
     width: 100%; 
}   
.project-container
{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
     gap: 50px; 
    justify-content:space-evenly;
} 

@media (max-width:600px) {
    .project-container
{
    
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    align-items: center;
}
}

